<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <Database>
        <default>SQLSERVER</default>
        <active>SQLSERVER</active>
        <XML>
            <ConnectionString>Distillery.xml</ConnectionString>
        </XML>
        <SQLSERVER>
            <ConnectionString>data source = dbsys.cs.vsb.cz\\STUDENT; initial catalog = mor0146; user id = mor0146; password = Wt0pEzMOWp</ConnectionString>
        </SQLSERVER>
    </Database>
</configuration>